{% extends "template.njk" %}
{% block main %}
    <header>
        <img class='logo' src="images/codm.png">
        <a href="/matches" class='like-list'>
            <i class="fas fa-arrow-right likes"></i>
        </a>
    </header>

    <section>
        {% if unknownUsers.length > 0 %}
            <article class='card'>
                <img src={{displayedUser.image}}>
                <section>
                    <h1>{{displayedUser.naam}}
                        <span>- {{displayedUser.leeftijd}}</span></h1>
                    <h2>{{displayedUser.locatie}}</h2>
                    <p>{{displayedUser.beschrijving}}</p>
                </section>
            </article>
            <section class="buttons">
                <form action='/' method='post'>
                    <div>
                        <input type="radio" id="dislike" name="preference" value="dislike" required>
                        <label for="dislike">
                            <i class="fas fa-times dislike"></i>
                        </label>
                    </div>
                    <div>
                        <input type="radio" id="like" name="preference" value="like">
                        <label for="like">
                            <i class="fas fa-thumbs-up like"></i>
                        </label>
                    </div>
                    <input class="verzend" type='submit'>
                </form>
            {% else %}
                <p>Geen gebruikers gevonden</p>
            {% endif %}
        </section>
    {% endblock %}