<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{{titel}}</title>
  <meta name="description" content="Target Finder">
  <meta name="author" content="Akshay Kumar">

  <link rel="stylesheet" href="css/styles.css">

</head>

<body>
{% block main %}

{%endblock%}
  <script src="js/scripts.js"></script>
</body>
</html>