<!doctype html>

<html lang="en">
<head>
  <meta charset="utf-8">

  <title>{{titel}}</title>
  <meta name="description" content="Target Finder">
  <meta name="author" content="Akshay Kumar">

  <link rel="stylesheet" href="css/styles.css">

  <script src="https://kit.fontawesome.com/aa8a9b44fc.js" crossorigin="anonymous"></script>
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Fjalla+One&family=Open+Sans&display=swap" rel="stylesheet">

</head>

<body>
{% block main %}

{%endblock%}
  <script src="js/scripts.js"></script>
</body>
</html>