<footer>
    <nav>
        <ul>
            <li>
                <a href="/" class='like-list'>
                    <span class="material-icons">thumb_up</span>Liken
                </a>
            </li>
            <li>
                <a href="/matches" class='like-list'>
                    <span class="material-icons">fact_check</span>Matches
                </a>
            </li>
        </ul>
    </nav>
</footer>