* {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.card {
    height: 100vh;
    width: 100vw;
}

.card img {
    height: 100vh;
    width: 100vw;
    object-fit: cover;
    position: absolute;
    left: 0;
    top: 0;
    z-index: -1;
}

h1, h2, h3, h4, h5, h6, p {
    color: white;
}

.card section h1 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 2rem;
    margin-bottom: 4px;
    letter-spacing: 0.05rem;
}

.card section h2 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 12px;
    letter-spacing: 0.05rem;
}

.card section p {
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
}

.card section {
    position: absolute;
    left: 24px;
    right: 24px;
    bottom: 112px;
}

.card::before {
    content: "";
    width: 100vw;
    height: 100vh;
    background: linear-gradient(to top, rgba(0, 0, 0, .75), rgba(0, 0, 0, .1), rgba(0, 0, 0, 0));
    position: absolute;
    top: 0;
    left: 0;
}

form {
    position: absolute;
    bottom: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    padding: 24px 72px;
    box-sizing: border-box;
}

form > div {
    height: 3.5rem;
    width: 3.5rem;
}


label {
    position: relative;
    display: inline-block;
    background-color: white;
    width: 3.5rem;
    height: 3.5rem;
    border-radius: 50%;
}

label i {
    font-size: 2rem;
    transition: 0.5s;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.dislike {
    color: red;
}

.dislike:hover {
    color: darkred;
}

.like {
    color: dodgerblue;
}

.like:hover {
    color: darkblue;
}

.logo {
    height: 3rem;
    width: 8rem;
    position: absolute;
    top: 24px;
    left: 24px;
    object-fit: cover;
}

a {
    border: none;
    background: white;
    border-radius: 50%;
    width: 4rem;
    height: 4rem;
    position: absolute;
    top: 24px;
    right: 24px;
}

a i{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 2rem;
    transition: 0.5s;
    color: grey;
}

/* like list */
.like-list {
    display: flex;
    flex-direction: column;
}

.like-item {
    width: 100%;
}

.like-item+.like-item {
    margin-top: 1rem;
}

.like-item article {
    height: 100%;
    width: 100%;
    display: flex;
}

.like-item img {
    width: 50%;
    height: 175px;
    object-fit: cover;
}

.like-item h1, .like-item h2 {
    color: black;
}

.like-item section {
    padding: 16px;
}

.like-item section h1 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 1.5rem;
    margin-bottom: 4px;
    letter-spacing: 0.05rem;
}

.like-item section h2 {
    font-family: 'Fjalla One', sans-serif;
    font-size: 1em;
    margin-bottom: 12px;
    letter-spacing: 0.05rem;
}

input[type='radio'] {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
}

.like-list {
    z-index: 10000;
}

.h1Like {
    color: black;
}

.homeLike {
    color: black;
    background: none;
    border-radius: none;
    width: 100%;
    height: 100%;
    position: static;
    
}