// Variables
// Colors
$black: #353535;
$white: #f8f8f8;
$grey: #959595;
$blue: dodgerblue;
$darkblue: darkblue;
$red: red;
$darkred: darkred;

// Typography
$graphik: 'Graphik', 'segoe ui', tahoma, sans-serif;